# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here

# Supabase Private Key (for server-side only)
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here